<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="328822197094-khiejtot9evtjn0tmd24b3ppo14io05e.apps.googleusercontent.com">
    <base href="/">

        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/animated.css">
        <link rel="stylesheet" href="css/owl.css">
        <link rel="stylesheet" href="css/login.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
</head>
<body>

    <div class="login-left">
        <div class="login-photo">
            <img src="img/login/login_photo.jpg">
        </div>
    </div>
    <div class="login-right">
        <main>
            <div class="logo"><a href="views/introduction.ejs"><img src="img/logo.png"></a></div>
            <article>
                <form action="/index" method="post">
                <div class="login_id">
                    <input type="text" placeholder="ID" class="idValue" name="id">
                </div>
                <div class="login_password">
                    <input type="password" placeholder="PW" class="passwordValue" name="password">
                </div>
                <div>
                    <button class="login_btn">LOGIN</button>
                </div>
                </form>>
            </article>
            <div class="social-login">
                <hr class="leftHr">
                <div class="social-text">SOCIAL LOGIN</div>
                <hr class="rightHr">
            </div>
            <div class="social-menu">
                <ul class="social">
                    <li><i class="bi bi-facebook"></i></li>
                        <div class="g-signin2 google-login" data-onsuccess="onSignIn"></div>
                    <li><i class="bi bi-twitter"></i></li>
                </ul>

            </div>
            <div class="social-footer">
                <a href="">Did you forget the password?</a>
            </div>
        </main>

        <div class="login-footer">
            <div class="login-footer-contents">
                <p>Don't you have an account?</p>
                <a href="views/join.ejs">JOIN</a>
            </div>
        </div>
    </div>






    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <script>
    function signOut() {
        const auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }
    </script>

    <script>
    function onSignIn(googleUser) {
        // const profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        const id_token = googleUser.getAuthResponse().id_token;
        // console.log(id_token);
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            if(xhr.responseText == 'success'){
                signOut();
                location.assign('/register')
            }
        };
        xhr.send(JSON.stringify({token : id_token}));
}
    </script>

</body>
</html>
