<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/defult.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/join.css">

    <title>로드</title>
</head>
<body>
    <div class="login-left">
        <div class="login-photo">
            <img src="img/login/login_photo.jpg">
        </div>
    </div>
    <div class="login-right">
        <main>
            <!--
            <div class="logo"><a href="introduction.html"><img src="img/logo.png"></a></div>
            -->
            <article class="join-form">
                <div class="join-text">
                    <p>SOCIAL JOIN</p>
                </div>
                <div class="login_nickname">
                    <input type="text" placeholder="Nickname" class="passwordValue">
                </div>
                <div class="login-language">
                    <select class="select-box">
                        <option class="option-list" value selected="selected">ENGLISH</option>
                        <option class="option-list" value="">KOREA</option>
                    </select>
                </div>
                <div class="join-button">
                    <a href="http://localhost:3000/index"><button class="login_btn">JOIN</button></a>
                </div>
            </article>
            <div class="social-login">
                <hr class="leftHr">
                <div class="social-text">SOCIAL JOIN</div>
                <hr class="rightHr">
            </div>
        </main>

        <div class="join-footer">
            <div class="join-footer-contents">
                <p>Do you have an account?</p>
                <a href="login.ejs">LOGIN</a>
            </div>
        </div>
    </div>
</body>
</html>
